<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/Home.css">
</head>
<body>
<div id="content">
    <h1>D U X</h1>
    <div id="login-signup-form" class="form-container">
        <h2>로그인</h2>
        <input type="text" id="login-username" placeholder="아이디">
        <input type="password" id="login-password" placeholder="비밀번호">
        <div id="signup-extra-fields" style="display: none;">
            <input type="password" id="signup-confirm-password" placeholder="비밀번호 확인">
        </div>
        <div class="button-container">
            <button id="login-button">로그인</button>
            <button id="toggle-signup-button">회원가입</button>
        </div>
    </div>
</div>
<script src="/js/Home.js"></script>
</body>
</html>